body {
    background-color: #eee;
}
.caja { /*Caracteristicas de la caja (para que se vea flotante) */
background-color: #fff;
border-style: solid;
border-width: 1px;
border-color: #ccc;
border-radius: 4px;
border-top: solid 0px;
}
.header{ /*Caracteristicas de cabecera */
    padding: 10px;
    border-top: solid 1px #eee;
}
.contenido{ /*Caracteristicas de contenido */
    padding: 10px;
}
.footer{ /*Caracteristicas de footer */
    padding: 10px;
    border-top: solid 1px #eee;
}
.primario{ /*Caracteristicas del boton primario */
    background-color: rgb(64, 144, 168);
    border: 0px;
    padding: 5px;
    color: #fff
}
.secundario{ /*Caracteristicas del boton secundario*/
    background-color: #aaa;
    border: 0px;
    padding: 5px;
    color: #fff;
}
.buttom{
    background-color: rgb(58, 196, 238);
}
.cancelar{
    background-color: rgb(104, 104, 104);
}