.body {
    background-color: #eee; /*Sirve para darle color al background */
}
.p {
    font-family: 'Times New Roman'; /*Cambias tipo de fuente de la letra*/
    font-weight: normal; /*Ancho de la letra, puede ser con palabras como bold,normal,etc o con numeros como 400,900,etc.*/
    font-style: oblique; /*Estuio de letra (cursiva, norval,etc)*/
    font-size: 1.5em; /*Modificas size del texto (tambien se puede usar px)*/
    color: #222fff; /*Sirve para darle color al texto */
    text-align: left ; /*Sirve para alienar el texto */
    text-indent: 15px; /*Cambiar identacion de texto primer linea*/
    line-height: 1.38; /*Separacion entre textos*/
    word-spacing: 10px; /*Espacio entre palabras*/
    text-shadow: 1px 2px 2px rgb(151, 135, 135); /*Sombras, el primero es dezplazamiento a la derecha y el segundo hacia abajo y la tercera es el difuminado y luego color*/
}